<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <!-- 上下文域监听器 -->
    <listener>
    	<listener-class>demo.MyServletContext</listener-class>
    </listener>
    <!-- 请求域监听器 -->
    <listener>
    	<listener-class>demo.MyRequestListener</listener-class>
    </listener>
    <!-- 访问计数监听器 -->
    <listener>
		<listener-class>countdemo.CountListener</listener-class>    
    </listener>
</web-app>
